body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(images/Image-1-e1678258156995-900x510.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
